<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>  <!-- use debug="true" for Firebug Lite -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Catalis using components</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}ext-2.1/resources/css/ext-all.css">

    <!--link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}catalis/css/ext-overrides-2.0.css"-->
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}ext.ux/Wiz/resources/css/ext-ux-wiz.css">
    <!--link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}catalis/css/catalis.css"-->
    <style type="text/css">
        body {
            font-family: verdana, sans-serif;
            font-size: 13px;
        }
        a {
            text-decoration: none;
        }
    </style>
    <!--link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}catalis/css/search.css"-->
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}catalis/css/new/dictionary.css">
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}catalis/css/new/list.css">
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}catalis/css/edition.css">
    <link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}common/css/aacr.css">


    <!-- JavaScript -->
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}ext-2.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}ext-2.1/ext-all-debug.js"></script>

    <script type="text/javascript" src="{{ settings.MEDIA_URL }}ext.ux/SelectBox.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}ext.ux/IFrameComponent.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}ext.ux/Wiz/CardLayout.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}ext.ux/Wiz/Wizard.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}ext.ux/Wiz/Header.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}ext.ux/Wiz/Card.js"></script>

    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/Catalis.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/MarcRecord.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/util/MARC21.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/util/AACR2.js"></script>

    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/ListBrowser.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/SearchForm.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/ResultsToolbar.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/SearchHistory.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/DetailPanel.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/DictionaryBrowser.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/DatabaseAdminPanel.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/DatabasePanel.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/SaveRecordsWizard.js"></script>
    
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/DataFieldsPanel.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/DataField.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/Indicators.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/Subfield.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/SubfieldBox.js"></script>
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/ControlFieldsPanel.js"></script>
    
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/DocPanel.js"></script>

    <!--script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/marc2marcTagged.js"></script-->
    <!--script type="text/javascript" src="{{ settings.MEDIA_URL }}common/js/marc2aacr.js"></script-->

    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/test.js"></script>
    
    <script type="text/javascript" src="{{ settings.MEDIA_URL }}catalis/js/new/firebug/firebug.js"></script>
</head>

<body>

</body>
</html>
